body {
    overflow: hidden;
    background-image: url("resources/BG.png");
}

#vid {
    margin: auto;
    display: block;
}

.video {
    height: 100%;
    width: 100%;
    display: none;
}

table {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 100%;
}

td {
    overflow: hidden;
    text-align: center;
}

#opener img {
    height: 9.5em;
}

#opener .dots {
    height: 4.5em;
}

img#nums {
    display: none;
    position: relative;
    overflow: hidden;
}

img#nums.num1 {
    display: inline-block;
    top: 0px;
}

#timer {
    position: absolute;
    z-index: 2;
    color: white;
    left: 5%;
    bottom: 10%;
    font-size: 45pt;
    font-family: 'Courier New', Courier, monospace;
}

#opener {
    color: #abbfcd;
    margin-top: 5%;
    font-size: 25pt;
    font-family: 'Courier New', Courier, monospace;
    line-height: 39pt;
    margin-left: 23%;
    margin-right: 23%;
}

#dropdowntext {
    margin-top: 5%;
    text-align: right;
    font-size: 1em;
}

#lowerText {
    padding-top: 1.5em;
}

#roulette {
    font-size: 79pt;
    font-weight: bold;
}

canvas {
    cursor: pointer;
    width: 100%;
}
