body {
    overflow: hidden;
    background-image: url("resources/BG.png");
}

#vid {
    margin: auto;
    display: block;
}

.video {
    height: 100%;
    width: 100%;
    display: none;
}

table {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 100%;
}

td {
    overflow: hidden;
    text-align: center;
}

#opener img {
    width: max-content;
    max-width: 100%;
}

#opener .dots {
    width: max-content;
    max-width: 50%;
}

img#nums {
    display: none;
    position: relative;
    overflow: hidden;
}

img#nums.num1 {
    display: inline-block;
    top: 0px;
}

#timer {
    position: absolute;
    z-index: 2;
    color: white;
    left: 5%;
    bottom: 10%;
    font-size: 3.5em;
    font-family: 'Courier New', Courier, monospace;
}

#opener {
    color: #abbfcd;
    margin-top: 8%;
    font-size: 25pt;
    font-family: 'Courier New', Courier, monospace;
    line-height: 39pt;
    margin-left: 23%;
    margin-right: 23%;
}

#dropdowntext {
    margin-top: 7%;
    text-align: right;
    font-size: 1.25em;
}

#lowerText {
    padding-top: 12%;
}

#roulette {
    font-size: 79pt;
    font-weight: bold;
}

canvas {
    cursor: pointer;
    width: 100%;
}
